@tailwind base;
@tailwind components;
@tailwind utilities;




button.cross {
    all: unset; 
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #e5e7eb; 
    color: rgb(0, 0, 0); 
    border-radius: 50%;
    width: 32px; 
    height: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button.cross:hover {
    background-color: #d1d5db; 
  }
  button:not(.cross) {
    all: unset;
  }
  .product-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 0.5rem; 
    max-width: 100%; 
    height: auto; 
  }
  .product-image-container {
    position: relative;
  }
  
  .product-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
  } 


.relative {
  position: relative;
}

.bg-gradient-to-t {
  background: linear-gradient(to top, black, transparent);
}

.shadow-lg {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.bg-gradient-to-t {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.text-white {
  color: white;
}

.p-4 {
  /* padding: 1rem; */
  padding: 16px; 
}

.font-bold {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}


input:focus {
  outline: none;
  border-color: #007BFF; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


input.error {
  border-color: #FF0000; 
}

input.success {
  border-color: #28A745; 
}

input::placeholder {
  color: #888;
}
.grid-container {
  display: grid;
  grid-auto-flow: column; 
  gap: 16px; 
  align-items: center; 
  overflow-x: auto;
  border-radius: inherit;
}
.product-card {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px; 
}

.product-details {
  margin-top: 200px; 
}

.back-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border-radius: 0.5rem;
}
.product-title{
  margin-top: 500px;

}
.product-description{
   margin-top: 50px;
} 
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
  box-sizing: border-box; 
  resize: vertical; 
  min-height: 100px; 
}

.flex-container {
  display: flex;
  gap: 5px; 
}
.link-reset {
  text-decoration: none;
  color: inherit;
}